.custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  pointer-events: none;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out,
    background-color 0.1s ease-out;
  z-index: 9999;
  transform: translate(-50%, -50%);

  &.name-title-hovered {
    transform: scale(1.5) translate(-50%, -50%);
    background-color: black;
  }

  &.hovering {
    width: 30px;
    height: 30px;
    background-color: black;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.14);
    transform: scale(1.1) translate(-45%, -45%);
    z-index: 1;
  }

  &.hidden {
    display: none;
  }
}
